.menu {
    color: orangered;
}
a{
    text-decoration: none;
}

h1{
    font-size: 36px;
    text-align: left;
}

.negrita{
    font-weight: bold;
}

.imagen-contenedor{
    text-align: center;
    margin: 20px auto;
}

img{
    max-width: 100%;
    height: auto; 
    border-bottom: 5px solid orangered;
}

.gris{
    color: rgb(162, 162, 162);
}

.cursiva{
    font-style: italic;
}
.subrayado{
    text-decoration: underline solid orangered;
}